<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <div class="form">
                <form #userForm="ngForm" (ngSubmit)="registerUser()">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input  type="text" required #email="ngModel"
                        [class.is-invalid]="email.invalid && email.touched"  class="form-control rounded-0"
                         name="email"  [(ngModel)]="registerUserData.email">
                         <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
                    
                    
                    </div>    
                    <div class="form-group">
                        <label for="">Password</label>
                        <!-- <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control rounded-0" required> -->
                        <input  type="password"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{5,}" required #password="ngModel"
                        [class.is-invalid]="password.invalid && password.touched"  class="form-control rounded-0"
                         name="password"  [(ngModel)]="registerUserData.password">
                         <!-- <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small> -->
                         <div *ngIf="password.errors && password.touched ">
                                <small class="text-danger" *ngIf="password.hasError('required')">Password is required</small>
                                <small class="text-danger" *ngIf="password.hasError('pattern')">Password should contain : min 6 characters,lower case,upper case,number & a special characters</small>
                         </div>
                    </div>
                <br>
                    <button [disabled]="email.errors || password.errors" type="submit" class="btn btn-primary float-right">Register</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
